
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>
<div class="text-center">

  
    @foreach (P1Database.Customer obj in Model) 
    

    { 
    <div>
        @Html.DisplayFor(modelItem => obj.Fname)
    </div>
    }
   
</div>
