
@{
    ViewData["Title"] = "Choice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
<h1>@ViewBag.H1</h1>
<p>@ViewBag.P1</p>>
<p>$@ViewBag.P2</p>>

<form asp-action="AddToKart">
    <label for="quantity">How many would you like to recieve:</label>
    <input type="number" id="quantity" name="quantity" min="1" max=@ViewBag.max>
    <input type="submit">
</form>
</div>
