
@{
    ViewData["Title"] = "ShopChoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    

    <form asp-action="CatChoice">
     
            <label for="cat">Our catagories if your interested</label> 
        <select name="cat" id="cat">
            @foreach (string obj in Model)
            {

            <option value="@obj">@obj</option>
            }
        </select>
        <br><br>
        <input type="submit" value="submit">
    </form>


</div>

